.textClass {
    float: left;
    height: 250px;
    width: 250px;
    background-color: rgb(166, 105, 235);
    margin-left: 10px;
    margin-top: 10px;
}

/* TODO: figure out spacing */

.buttonClass {
    align-content: center;
    display: flex;
    flex-direction: row;
    margin-TOP: 80px;
    /* background-color: rgb(120, 75, 172);
    margin-bottom: 50px; */
}

#delete {
    margin-left: 75px;
}